<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/admin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <div id="hero">
        <a href="/" style="width: 15%; height: 5vh; background-color:black; color: white;
        display: flex; justify-content: center; align-items: center; text-decoration: none;
        border-radius: 80px">Vrati se nazad</a>
        <div id="hero-1">
            <a href="/viewKlijenti" class="view-client">Pogledaj sve Klijente</a>
        </div>
        <div id="hero-2">
            <a href="/viewZaposleni" class="view-client">Pogledaj sve Zaposlene</a>
            <a href="/addZaposleni" class="add-client">Dodajte Zaposlenog</a>
        </div>
        <div id="hero-3">
            <a href="/viewJobApplications" class="view-client">Pogledaj sve Prijave za posao</a>
        </div>
        <div id="hero-4">
            <a href="/viewDrzave" class="view-client">Pogledaj sve Drzave</a>
            <a href="/addDrzava" class="add-client">Dodajte Novu Drzavu</a>
        </div>
        <div id="hero-5">
            <a href="/viewHQ" class="view-client">Pogledaj sve Lokacije firme</a>
            <a href="/addHQ" class="add-client">Dodajte Novu Lokaciju</a>
        </div>
        <div id="hero-6">
            <a href="/viewZahtjevi" class="view-client">Pogledaj sve Zahtjeve</a>
        </div>
        <div id="hero-7">
            <a href="/viewRole" class="view-client">Pogledaj sva Zanimanja</a>
            <a href="/addRole" class="add-client">Dodajte Novo Zanimanje</a>
        </div>
    </div>
</body>
</html>