<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construction Firm</title>
</head>
<body>
    <div id="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#projekti">Projekti</a></li>
            <li><a href="/termin1">Posao</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/admin">Admin Panel</a></li>
        </ul>
    </div>
    <div id="hero-div">
        <div id="hero-naslov">
            <h1>Gradimo buducnost.</h1>
            <p>Prva bosansko-hercegovacka freelance stranica za gradjevince.</p>
        </div>
        <div id="hero-btn">
            <a href="#" class="btn">Nasi projekti</a>
        </div>
    </div>
    <div id="projekti" name="projekti">
        <div id="projekti-lijevo">
            <div id="prva-linija">
                <a href="#" id="prvi-projekat"></a>
                <a href="#" id="drugi-projekat"></a>
            </div>
            <div id="druga-linija">
                <a href="#" id="treci-projekat"></a>
            </div>
        </div>
        <div id="projekti-desno">
            <div id="treca-linija">
                <a href="#" id="cetvrti-projekat"></a>
            </div>
            <div id="cetvrta-linija">
                <a href="#" id="peti-projekat"></a>
                <a href="#" id="sesti-projekat"></a>
            </div>
        </div>
    </div>
    <div id="prijava" name="termin">
        <div id="prijava-lijevo">
            <img src="/img/personicon.png" width="8%">
            <p>Prijavite se na neku od otvorenih pozicija</p>
            <a href="/termin1">Vise informacija</a>
        </div>
        <div id="prijava-desno">
            <img src="/img/contracticon.png" width="8%">
            <p>Trebate obaviti neki posao?</p>
            <a href="/register">Vise informacija</a>
        </div>
    </div>
    <div id="footer">
        <h1><i>Copyright &copy; Smaic Amar 2022</i></h1>
    </div>
</body>
</html>