<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Prijavite se za posao</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div id="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#projekti">Projekti</a></li>
            <li><a href="/termin1">Posao</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/admin">Admin Panel</a></li>
        </ul>
    </div>
    <h1>Prijavite se za posao!</h1>
    <hr>
    <form action="#" th:action="@{/saveJobZahtjev}" th:object="${noviJobZahtjev}" method="post">
        <input type="text" placeholder="Unesite Vase Ime" th:field="*{ime}" class="form-control mb-4 col-4"/>
        <input type="text" placeholder="Unesite Vase Prezime" th:field="*{prezime}" class="form-control mb-4 col-4"/>
        <input type="text" placeholder="Unesite Vas E-mail" th:field="*{mail}" class="form-control mb-4 col-4"/>
        <input type="text" placeholder="Unesite link Vaseg CV-a" th:field="*{cv_link}" class="form-control mb-4 col-4"/>
        <select name="posao" id="posao" th:field="*{zeljena_pozicija}">
            <option th:value="Dizajner" th:text="Dizajner" />
            <option th:value="Stolar" th:text="Stolar" />
            <option th:value="Arhitekta" th:text="Arhitekta" />
        </select>
        <button type="submit" class="btn btn-info col-2">Posalji Prijavu</button>
    </form>
</div>
</body>
</html>