<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Prikaz Usluga</title>
</head>
<body>
<h1>Prikaz Svih Usluga</h1>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th scope="col">Id Usluge</th>
        <th scope="col">Naziv Usluge</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="singleUsluga:${listaUsluga}">
        <td scope="row" th:text="${singleUsluga.id_usluge}"></td>
        <td scope="row" th:text="${singleUsluga.ime_usluge}"></td>
        <td scope="row" th:text="${singleUsluga.opis_usluge}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>