<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Prijavite se za posao danas!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Projekti</a></li>
        <li><a href="/termin1">Termini</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/admin">Admin Panel</a></li>
    </ul>
</div>
<div id="mainpage">
    <h1><i>Trazite <span style="color: red;">posao?</span><br>Bez <span style="color: red;">problema!</span><br>Prijavite se vec <span style="color: red;">danas!</span></i></h1>
</div>
<div id="posao-info">
    <div id="posao-info-1">
        <img src="img/contracticon.png" width="25%">
        <p>Zaradite onoliko koliko odradite posla!</p>
    </div>
    <div id="posao-info-2">
        <img src="img/personicon.png" width="25%">
        <p>Fleksibilno radno vrijeme!</p>
    </div>
    <div id="posao-info-3">
        <img src="img/planeticon.jpg" width="25%">
        <p>Internacionalni poslovi!</p>
    </div>
</div>
<div id="prijavitese">
    <a href="/jobapplication">Prijavite se</a>
</div>
</body>
</html>